services:
  laravel:
    image: laravel
    build: .
    volumes:
      - ./src:/var/www
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  queue:
    image: laravel
    command: ["php", "artisan", "queue:work"]
    volumes:
      - ./src:/var/www
    depends_on:
      - laravel

  schedule:
    image: laravel
    command: ["php", "artisan", "schedule:work"]
    volumes:
      - ./src:/var/www
    depends_on:
      - laravel

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}"]

  redis:
    image: redis:8.6-alpine
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
